
#drop_down {
    background-color: #9B3922;
    border-style: solid;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    margin-top: -50px;
    width: 20vw;
    height: 30px;
    right: 11vw;
}
#drop_down:hover div{
    display:block;
}
#drop_down div:first-of-type {
    margin-top: 0.5vh;
}
#drop_down div {
    display: none;
    width: 20vw;
    height: 30px;
}
#drop_down div button {
    background-color: #F2613F;
    border-style: solid;
    text-align: center;
    width: 20vw;
    height: 30px;
}
#drop_down div button:hover {
    background-color: #df593b;
}

.events tbody tr .date{
    width: 13vw;
}
.events tbody tr .name{
    width: 35vw;
}
.events tbody tr .name a{
    color: #481E14;
}
.events tbody tr .location{
    width: 19vw;
    text-align: center;
}
.events tbody tr .club{
    width: 9vw;
    text-align: center;
}
.events tbody .one{
    background-color: #9B3922;
    border-width: 0px;
}
.events tbody tr:hover{
    background-color: #ca5034;
}
.events tbody tr{
    height: 40px;
}