
#drop_down {
    background-color: azure;
    position: absolute;
    text-align: center;
    padding-top: 0.5vh;
    width: 20vw;
    height: 1.5vh;
    right: 6vw;
}
#drop_down:hover div{
    display:block;
}
#drop_down div:first-of-type {
    margin-top: 0.5vh;
}
#drop_down div {
    display: none;
    width: 20vw;
    height: 2vh;
}
#drop_down button {
    text-align: center;
    width: 20vw;
    height: 2vh;
}

.events tbody tr .date{
    max-width: 180px;
}
.events tbody tr .name{
    width: max-content;
    color: #ca7c3aff;
}
.events tbody tr .name a{
    color: #ca7c3aff;
}
.events tbody tr .location{
    max-width: 180px;
}
.events tbody tr .club{
    max-width: 140px;
    text-align: center;
}
.events tbody .one{
    background-color: rgb(223, 210, 193);
    border-width: 0px;
}
.events tbody tr:hover{
    background-color: rgb(221, 203, 179);
}
.events tbody tr{
    height: 40px;
}