@font-face {
    font-family: "lemonupgraded";
    src: url(../lemon_upgraded.ttf) format("truetype")
}

body {
    font-family: sans-serif,"lemonupgraded";
    background-image: url(../images/contours.svg);
    background-color: #0C0C0C;
    background-repeat: repeat;
    background-size: 100vw;
    padding: 0px;
    margin: 0px;
}

.header {
    height: 10vh; 
    width: 100vw;
    position: fixed;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #9B3922;
    font-size: 50px;
    margin-left: 12px;
}


.content {
    background-color: #F2613F;
    margin-top: -5px;
    margin-bottom: -1000px;
    margin-left: max(0px, calc(17vw - 100px));
    margin-right: max(0px, calc(17vw - 100px));
    margin-bottom: 13vh;
    padding-top: 12vh; 
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

iframe {
    display: block;
    margin: 0px;
    padding: 0px;
    border: none;
    background: transparent;
}


/* css to do with map image*/



#example {
    position: absolute;
    width: 10vw;
    margin-left: 58vw;
    margin-top: -10px;
}
#map {
    width:100%;
    display: flex;
    justify-content: center;

}
#map img{
    width: 50vw;
}

#hook {
    width:100%; 
    margin-bottom: -100px;
}

.video {
    padding-bottom: 56.125%;
    position: relative;
}

.video iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    
}

/* css based with to top button */
#to_top {
    position: sticky;
    top: 95%;
    margin-top: 200vh;
 
    margin-left: 1050%;
}
#to_top img{
    width:70px;
}

#img_name {
    font-family: "lemonupgraded", Arial, Helvetica, sans-serif;
    margin-left: 7vw;
}

header {
    font-family: "lemonupgraded", Arial, Helvetica, sans-serif;

}